@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.slideshow{
  padding: 16px;
 min-height: 80vh;
 width: 100%;
 opacity: .8;
  @include tablet{
    padding: 36px;
  }
  @include desktop{
    padding: 24px;
  }
  .slide{
    background-color: $slide-show-backgorund;
  }
  .control-dots{
    margin: 60px auto;
  }
&:hover{
  opacity: 1;
}
}
