@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.cta-button {
  @include mobile__tables-buttons;
  border-radius: 1.25rem;
  cursor: pointer;
  width: 100%;
  min-width: 2.25rem;
  height: 2.25rem;

  @include tablet {
    @include tablet__tables-buttons;
    padding: 0 1rem;
    width: auto;
    height: 2.375rem;
  }

  &--primary {
    color: colors.$primary-color-white;
    background-color: colors.$primary-button-bgcolor;
    border: none;

    &:hover {
      background-color: colors.$primary-color-black;
    }
  }

  &--secondary {
    color: colors.$primary-color-white;
    background-color: colors.$primary-button-bgcolor;
    border: 1px solid colors.$primary-color-btn;

    &:hover {
      color: colors.$primary-color-white;
      border-color: colors.$primary-color-btn;
      background-color: colors.$primary-color-btn;
    }
  }

  &--delete {
    color: colors.$colir-temp;
    background-color: colors.$colir-temp;
    border: none;

    &:hover {
      background-color: colors.$primary-color-black;
    }
  }
}
