@font-face{
    font-family: 'Avenir';
    src: url("./../../Assets/Font/Alternative/AvenirNextLTProBold.ttf") format("Avenir");
        font-weight: bold;
}

@font-face {
    font-family: 'Avenir';
    src: url("./../../Assets/Font/Alternative//AvenirNextLTPro.ttf") format('Avenir');
    font-weight: normal;
}