@font-face{
    font-family: 'Sen';
    src: url("./../../assets/Font/Sen-ExtraBold.ttf") format("Sen");
        font-weight: extra bold;
}

@font-face {
    font-family: 'Sen';
    src: url("./../../assets/Font/Sen-Bold.ttf") format('Sen');
    font-weight: Bold;
}
@font-face {
    font-family: 'Sen';
    src: url("./../../assets/Font/Sen-Regular.ttf") format('Sen');
    font-weight: normal;
}