@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.daycare-details {
  &__header {
    border-bottom: 0.0625rem solid colors.$primary-header-color-dim_grey;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include tablet {
      border-bottom: 0.0625rem solid colors.$primary-header-color-dim_grey;
      flex-direction: row;
    }
  }

  &__container-info {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;

    @include tablet {
    }
  }

  &__container-address {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1.5rem;

    @include tablet {
      margin: 0 3rem 1.5rem 2rem;
      width: 35%;
      border-right: 0.0625rem solid colors.$primary-header-color-dim_grey;
    }
  }

  &__container__contact {
    display: flex;
    margin: 2rem 0 0 0;
    padding: 0 0 1rem 0;
    border-bottom: 0.0625rem solid colors.$primary-header-color-dim_grey;

    @include tablet {
      margin: 0;
      border-bottom: none;
    }
  }

  &__title {
    @include mobile__page-header;
    margin-right: auto;

    @include tablet {
      @include tablet__page-header;
    }
  }

  &__edit-img {
    color: colors.$primary-color-white;
    filter: brightness(1000%);
    vertical-align: middle;

    @include tablet {
      margin-right: 0.3rem;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__edit-text {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  &__arrow {
    padding-top: 0.5rem;
  }
}
