@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.daycare-row {
  text-align: left;
  border-bottom: 1px solid colors.$secondary-color-cloud;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;

  @include tablet {
    padding: 1rem 2.25rem;
    flex-wrap: nowrap;
    gap: 0;
  }

  &:first-child {
    border-top: 1px solid colors.$secondary-color-cloud;

    @include tablet {
      border-top: none;
    }
  }

  &:hover {
    background-color: adjust-color(
      $color: colors.$slide-show-backgorund,
      $alpha: -0.93
    );
  }

  &__contact-item {
    display: block;
  }

  &__col {
    flex: 0 1 45%;

    @include tablet {
      flex: 1;
    }

    &--name {
      order: -2;
      @include desktop {
        flex: 2;
      }
    }

    &--address {
      @include tablet {
        order: -2;
      }
      @include desktop {
        flex: 2;
      }
    }

    &--contact-info {
      @include tablet {
        min-width: 9.625rem;
      }
    }

    &--actions {
      text-align: right;
      flex: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      // padding: 1rem 0.5rem;

      @include tablet {
        flex: 1;
        gap: 1rem;
        justify-content: flex-end;
        padding: 0;
      }
    }
  }

  &__cell-header {
    @include mobile__table-header;

    @include tablet {
      display: none;
    }
  }

  &__link {
    font-weight: 600;
    color: colors.$slide-show-backgorund;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      .warehouse-row__icon {
        transform: translateX(4px);
      }
    }
  }

  &__contact-item {
    color: unset;
    text-decoration: none;
  }

  &__icon {
    vertical-align: middle;
    transition: transform 0.4s ease;
  }
  &__icon:hover {
    transform: translateX(4px);
  }
  &__icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}
