@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.delete-modal {
  background-color: adjust-color($color: colors.$primary-color-black, $alpha: -0.5);
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &__content {
    text-align: left;
    background-color: white;
    padding: 3rem 1rem 1rem;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      border-radius: 0.25rem;
      padding: 2.25rem 4.5rem;
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, 0%);
      width: 43.75rem;
      height: auto;
    }
  }

  &__close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__title {
    @include mobile__page-header;

    @include tablet {
      @include tablet__page-header;
    }
  }

  &__message {
    @include mobile__body-large;
    height: 100%;

    @include tablet {
      @include tablet__body-large;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;

    @include tablet {
      justify-content: flex-end;
    }
  }

  &__button {
    @include mobile__tables-buttons;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1.25em;
    width: 100%;

    @include tablet {
      @include tablet__tables-buttons;
      width: auto;
    }

    &--primary {
      color: colors.$primary-color-white;
      background-color: colors.$colir-temp;
      border: none;

      &:hover {
        background-color: colors.$primary-color-black;
      }
    }

    &--secondary {
      color: colors.$secondary-color-slate;
      background-color: colors.$primary-color-white;
      border: 1px solid colors.$secondary-color-cloud;

      &:hover {
        color: colors.$slide-show-backgorund;
        border-color: colors.$slide-show-backgorund;
      }
    }
  }
}
