@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.edit-child {
  padding: 1rem 0 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  &__heading {
    @include mobile__subheader;

    @include tablet {
      @include tablet__subheader;
    }
  }

  &__field-item {
    width: 100%;

    &--radio {
      @include tablet {
        margin-right: 3rem;
        width: auto;
      }
    }
  }

  &__details-container {
    border-bottom: 1px solid colors.$colir-temp;
    padding: 1rem;

    @include tablet {
      border-bottom: none;
      border-right: 1px solid colors.$colir-temp;
      padding: 1rem 2.25rem;
      width: 50%;
    }
  }

//   &__availability-container {
//     padding: 1rem;

//     @include tablet {
//       padding: 1rem 2.25rem;
//       width: 50%;
//     }
//   }

  &__label {
    @include mobile__tables-buttons;
    margin-bottom: 0.25rem;
    display: block;

    @include tablet {
      @include tablet__tables-buttons;
    }
  }

  &__input {
    font-family: "Sen";
    border: 1px solid colors.$colir-temp;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    min-height: 1.5rem;

    &:focus {
      border-color: colors.$colir-temp;
      outline: none;
    }

    &--textarea {
      border-radius: 1rem;
      min-height: 6rem;
    }

    // &--radio {
    //   margin-right: 0.5rem;
    //   vertical-align: bottom;
    //   width: 1rem;

    //   // &[checked] + label {
    //   //   color: colors.$secondary-color-cloud;
    //   // }
    // }

    &:invalid{
      border-color: red;
    }

    // &--select {
    //   appearance: none;
    //   background-image: url("../../assets/Icons/arrow_drop_down-24px.svg");
    //   background-repeat: no-repeat;
    //   background-position: right 0.5rem bottom 50%;

    //   @include tablet {
    //     padding: 0.5rem 1rem;
    //   }
    }

    // &[type="number"]{
    //   @include desktop{
    //     max-width: 8rem;
    //   }
    // }
//   }

  &__form-group {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__radio-group {
    display: flex;
    width: 100%;
  }

  &__radio-label {
    @include mobile__body-large;

    @include tablet {
      @include tablet__body-large;
    }
  }

  &__actions {
    background-color: colors.$colir-temp;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;

    @include tablet {
      margin-top: 1rem;
      justify-content: flex-end;
    }
  }

  &__button {
    @include mobile__tables-buttons;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.375rem 1.25em;
    width: 100%;

    @include tablet {
      @include tablet__tables-buttons;
      width: auto;
    }

    &--primary {
      color: colors.$colir-temp;
      background-color: colors.$colir-temp;
      border: none;

      &:hover {
        background-color: colors.$primary-color-black;
      }
    }

    &--secondary {
      color: colors.$colir-temp;
      background-color: colors.$colir-temp;
      border: 1px solid colors.$colir-temp;

      &:hover {
        color: colors.$colir-temp;
        border-color: colors.$colir-temp;
      }
    }
  }
}
