@use "./../../styles/partials/colors" as *;
@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/typography" as *;

.footer {
  padding: 16px;
  width:-webkit-fill-available;
  background-color: #fefaf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: auto;
  color: $primary-text-color-header-ivory;
  background-color: $footer-bg-color;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  @include tablet {
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__text {
    @include mobile__body-small;
    @include tablet {
      @include tablet__body-small;
    }
  }
  &__left {
    display: flex;
    flex-direction: row;
  }
    
  &--social {
    padding: 0 2rem;
    margin: 0 rem;
    width: 8px;
    height: 8px;
  }
  &__left-social{
    border-width: solid 2px;
    border-color: $primary-text-color-header;
    border-radius: 4px;
    background-color: $primary-color-black;
    opacity: 1;
  }
  &__left-social:hover{
    transition-duration: .3s;
    transition-property: transform;
  transform: scale(1.1);
  opacity: .9;
    color: #fff;
  
     

  }
  &__right {
    display: flex;
    text-align: left;
  }
}
