@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.childrenDetails {
  @include mobile__body-large;
  text-align: left;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include tablet {
    @include tablet__body-large;
  }

  &__header-row {
    display: none;
    color: yellowgreen;

    @include tablet__table-header;
    padding: 0.5rem 2rem;
    width: 90%;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__header-child {
    white-space: nowrap;

    @include tablet {
      width: 17%;
    }

    &:last-child {
      text-align: right;
      @include tablet {
        width: 10%;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__register-button {
    background-color: colors.$primary-button-bgcolor;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    
    @include tablet {
      padding: 0.5rem 1rem;
    }
  }
  &__register-text {
    color: colors.$primary-text-color-on_hover;
    vertical-align: middle;
    display: none;
    margin-left: 0.25rem;

    @include tablet {
      @include tablet__tables-buttons;
      display: inline;
    }
  }
  &__registerbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
}
