@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.child-details-page {
  text-align: left;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding-top: 0.5rem;

  &__header {
    padding: 1.5rem 1rem 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid colors.$primary-text-color-header-ivory;

    @include tablet {
      padding: 1.5rem 2.25rem 1.5rem;
    }
  }

  &__title {
    @include mobile__page-header;
    margin-right: auto;

    @include tablet {
      @include tablet__page-header;
    }
  }

  &__back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  &__edit-button {
    background-color: colors.$hover-edit-button;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;

    @include tablet {
      padding: 0.5rem 1rem;
    }
  }

  &__edit-button:hover {
    background-color: colors.$primary-edit-button;
  }
  &__edit-icon {
    filter: brightness(1000%);
    vertical-align: middle;
  }

  &__edit-text {
    color: colors.$primary-text-color-on_hover;
    vertical-align: middle;
    display: none;
    margin-left: 0.25rem;

    @include tablet {
      @include tablet__tables-buttons;
      display: inline;
    }
  }
}
