import body-image from 
.App {
    text-align: center;
  
    &__body {
      min-height: 100vh;
      width:100%;
      background-image: url('./assets/images/body-image.jpeg');
      
    }
  }
  
  
  