@use "./styles/partials/mixins" as *;
@use "./styles/partials/colors" as *;

.App {
  // text-align: center;
  padding: 16px;

  @include tablet {
    padding: 32px;
  }
  @include desktop {
    padding: 24px;
  }

  &__body {
    min-height: 70vh;
    width: 100%;
    background-color: #fff;
    // background-image: url("./assets/images/body-image.jpeg");
   
  }
}
